h1,
h2 {
	font-family: 'Courier New', Courier, monospace;
}

body,
html {
	height: 100%;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

html {
	padding: 0;
}

body {
	box-sizing: border-box;
	display: grid;
	grid-auto-rows: auto 1fr;
	padding: 20px;
}

#main {
	height: 100%;
	width: 100%;
    display: grid;
    grid-auto-rows: auto 1fr;
}

#getButton {
	margin-bottom: 20px;
}

#text {
	margin-bottom: 20px;
}

#images {
	display: none;
}

#images > * {
	width: 720;
	height: 1280;
	display: none;
	transition: opacity 2s ease;
	background-repeat: no-repeat;
	position: absolute;
}

#ridol {
	background-image: url("ridol2.png");
	z-index: 20;
}

#sol {
	background-image: url("sol.png");
	z-index: 15;
}

#sapphire {
	background-image: url("sapphire.png");
	z-index: 0;
	background-size: contain;
}

#solblur {
	background-image: url("full.jpg");
	z-index: 10;
	image-rendering: pixelated;
	background-repeat: no-repeat;
}

#testdiv {
}